.App {
  background-color: var(--background);
  min-height: 100vh;
}

.column-aligned{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 0%;
}

.network{
  display: flex;
  justify-content: center;
}

.row-aligned{
  display: flex;
  justify-content :space-between;
  flex-direction: row;
}

#main {
  padding-left: 0%;
}

h1{
  text-align: center;
  background-color: transparent;
  color: var(--text);
}

h3{
  color: white;
} 

p {
  color : #fff;
  text-align: center;
}

* {
  font-family: "Times New Roman", Times, serif;
 
 }